<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ledgemate Test Suite" parallel="false">

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Transaction Tests">
        <classes>
            <class name="tests.TransactionTest"/>
        </classes>
    </test>

</suite>
